---
layout: home
title: The Stillfleet Studio ☉ High quality tabletop games from a Leftist perspective
keywords: stillfleet, rpg, ttrpg, osr, osr rpg, sci-fi, science fiction, sci-fi rpg, science fiction rpg, grimdark, grimdark rpg, future rpg, space, outer space, space rpg, postfuture, wythe marschall, ethan gould, spindle, spin, stillfleeter, fleeter, voidminer, wayfarers, float city, archaetech, escheresque
---

<section data-content="masthead">
  <figure class="collapse">
  </figure>
  <div>
    <section data-content="lede">
      <header>
        <h2>Be weird ☉ do crimes</h2>
      </header>
      <article>
        <p>The Stillfleet Studio makes high-quality, mind-expanding, innovative, and replayable tabletop games with a focus on roleplaying.</p>
      </article>
    </section>
    <section class="callouts">
      
      {% include components/callout.html src="/assets/img/products/stillfleet/stillfleet-qsr/stillfleet-qsr-cover.jpg" cta_url="https://www.drivethrurpg.com/product/391384/Stillfleet--Quickstart-Rules-PRINT-BOOK" cta_text="Try the political superfuture sci-fi tour de force" %}

      {% include components/callout.html src="/assets/img/products/blister_critters/blister_critters-qsr/blister_critters-qsr-cover.jpg" cta_url="https://play.blistercritters.com" cta_text="Unleash your inner Critter!" %}

    </section>
  </div>
</section>

<section class="full-width feature" id="blister-critters">
  <figure class="collapse">
  </figure>
  <article class="blurred-background">
    <h2>Burrow into your new favorite cartoon&mdash;starring&nbsp;you!</h2>
    <p>Discover your inner cartoon-self in <em>Blister Critters</em>—a TTRPG full of <strong>Saturday-morning</strong> action. In this innovative <strong>eco-apocalyptic</strong> game, you play as an animal who wields bizarre mutations to survive in a <strong>vast, cruel suburbia</strong> populated by fellow Critters and feral Beasts. The Grit System powering <em>Blister Critters</em> takes minutes to learn, and the Critter-specific rules focus on <strong>player agency</strong> and group discovery in the shadow of humanity—whether gnarly or zany in tone.
    </p>
    <ul class="rowlist">
      <li><a href="https://preview.drivethrurpg.com/en/product/463235/blister-critters-quickstart" class="external drivethrurpg">Free Quickstart</a></li>
      <li><a href="https://www.youtube.com/watch?v=_dXVu_7wUz0" class="external youtube">Watch actual play with Jenn&nbsp;De&nbsp;La&nbsp;Vega!</a></li>
    </ul>
  </article>
</section>

<section class="full-width feature" id="stillfleet">
  <figure class="collapse"></figure>

  <article>
    <h2>Mine the void&mdash;or undermine the Co.</h2>
    <p><em>Stillfleet</em> is a politically charged TTRPG set far into the superfuture. Using the unique, highly flexible Grit System, players take on the role of <strong>voidminers</strong>—salvagers working for the venal Worshipful Company of Stillfleeters (<strong>the Co.</strong>) who explore ruined spacecraft and earth-like planets that have been cut off from Terra for centuries. The Co.’s headquarters, the alien space station nicknamed <strong>Spindle</strong>, brims with timespace gates called <strong>stiffworks</strong>—and with the vile secrets of the Co.’s directors…
    </p>
    <ul class="rowlist">
        <li><a href="{% link games/stillfleet/crb.html %}" class="external stillfleet dark">Learn more</a></li>
        <li><a href="https://funcity.ventures/category/float-city/" class="external floatcity">Listen to epic actual play</a></li>
    </ul>
  </article>
</section>

<section class="full-width feature" id="why-we-roll">
  <figure class="collapse">
    <img src="/assets/img/third-party/wwr-logo-transparent.png" />
  </figure>

  <article class="blurred-background">
    <h2>Dive deep behind the GM screen</h2>
    <p>Hosted by <strong>Chris Pickett</strong> (the creator of <em>Danse Macabre</em>) and <strong>Wythe Marschall</strong> (the creator of <em>Stillfleet</em>), <em>Why We Roll</em> is fun and practical in tone, combining the banter of a shoot-the-breeze chat with a cerebral unboxing of specific TTRPG elements (plus a dash of actual play). Chris and Wythe take a curious and ecumenical approach to game design, inviting everyone at the table to consider why we roll.
</p>
    <ul class="rowlist">
      <li><a href="https://open.spotify.com/show/4S4FWpv9ptMUybjewdIDsX?si=233c7ac0cb5c4055" class="external spotify">Listen on Spotify</a></li>
      <li><a href="https://podcasts.apple.com/us/podcast/why-we-roll/id1710405585" class="external apple-podcasts">Listen on Apple Podcasts</a></li>
    </ul>
  </article>
</section>