<fieldset data-brand="stillfleet" id="play-now">
  <legend>Start playing now!</legend>
  {% include components/purchase.html url="https://stillfleet.itch.io/quickstart/purchase" text="Stillfleet Quickstart Rules" class="dark" %}
  {% include components/purchase.html url="https://stillfleet.itch.io/stillfleet-core-rulebook/purchase" text="Stillfleet Core Rulebook" class="dark" %}
  <a class="external stillfleet dark" href="https://strings.stillfleet.com/voidminers/recruitr/new">Generate a character with STRINGS</a>
</fieldset>