main {
  & > section.two-col {
    display: flex;
    flex-direction: column;

    & > article {
      order: 2;
      width: auto;
      margin: 4rem;

      h1 {
        display: none;

        &[data-page-slug="mvr004"] {
          display: block;
        }
        &[data-page-slug="mvr006"] {
          display: block;  
        }
        &[data-page-slug="bc-box"] {
          display: block;
        }
        &[data-page-slug="bc-index"] {
          display: block;
          margin: 0;
          padding: 0;
        }
        &[data-page-slug="why-we-roll"] {
          display: block;
        }
      }
    }

    & > figure {
      order: 1;
      width: 100%;
      height: 400px;
      background-size: cover;
      display: block;
      
      background-repeat: no-repeat;
      filter: drop-shadow(4px 4px 4px $rich-black);

      /* Page specific background shifting to focus on the title */
      &[data-page-slug="mvr001"] {
        background-position: left 0px;
        height: 300px;
      }
      &[data-page-slug="mvr002"] {
        background-position: left -100px;
        height: 500px;
      }
      &[data-page-slug="mvr003"] {
        background-position: left -460px;
      }
      &[data-page-slug="mvr004"] {
        background-position: left -260px;
      }
      &[data-page-slug="mvr005"] {
        background-position: left 0px;
      }
      &[data-page-slug="mvr006"] {
        background-position: left -350px;
        height: 300px;
      }
      &[data-page-slug="mvr007"] {
        background-position: left -600px;
        height: 400px;
      }
      &[data-page-slug="qsr"] {
        background-position: left -150px;
        height: 200px;
      }
      &[data-page-slug="crb"] {
        background-position: left -235px;
        height: 190px;
      }
      &[data-page-slug="ven001"] {
        background-position: left -50px;
        height: 450px;
      }
      &[data-page-slug="ven002"] {
        background-position: left -10px;
        height: 350px;
      }
      &[data-page-slug="bc-index"] {
        order: 2;
        width: auto;
        height: 550px;
        background-size: contain;
        margin: 2rem 2rem 4rem 2rem;
      }
      &[data-page-slug="bc-qsr"] {
        background-position: left -10px;
        height: 300px;
      }
      &[data-page-slug="bc-box"] {
        order: 2;
        max-width: 500px;
        margin: 0 auto 4rem auto;
      }
      &[data-page-slug="why-we-roll"] {
        order: 2;
        background-position: left -500px;
        height: 200px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
      }
    }

    &[data-page-slug="bc-box"] {
      article {
        margin-top: 2rem;
      }
    }

    @include medium-breakpoint {
      flex-direction: row;
      gap: 2rem;
      margin-right: 2rem;

      article {
        order: 1;
        margin: 2rem 0rem 4rem 4rem;
        width: 55%;

        h1 {
          display: block;
          margin: initial;

          & + blockquote {
            margin-top: 2rem;
          }
        }
      }

      & > figure {
        order: 2;
        max-width: 45%;
        margin-top: 4rem;
        //margin-left: -4rem;
        height: auto !important;
        background-size: contain;
        background-position: 0rem top !important;
        padding-right: 4rem;
        width: 100%;

        &[data-page-slug="bc-index"] {
          width: 100%;
        }

        &[data-page-slug="bc-box"] {
          max-width: 500px;
          margin: 4rem auto;
        }
      }
    }

    @include large-breakpoint {
      & > figure {
        order: 2;
        max-width: 45%;
        margin-top: 4rem;
        margin-left: 0rem;
        height: auto !important;
        background-position: 0rem top !important;
      }
    }
  }

  & > section.two-col + fieldset {
    margin: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  figure[data-include="critter-footer"] {
    width: 100%;
    height: 500px;
    max-height: 100%;
    margin-bottom: -2rem;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
  }
}