<footer id="footer-default-id" class="footer-default " data-footer-status="on" data-width="100" style="min-width: 1469px;">
    <div class="color-overlay texture-type"></div>
    <div class="color-overlay image-type"></div>
    <div class="texture-overlay"></div>
    <div class="bg-image"></div>
            <div class="content-holder">

            <hr class="footer-separator">
    <div id="footer-bottom">
        <div class="linear content" style="padding-right: 50px;">
            <div class="logo"><img src="{{ '/assets/img/sf-logo-white.png' }}"></div><div class="social-icons md-hidden footer-spacer"><span data-social="facebook"><a href="#" target="_blank"><span class="icon-facebook2"></span></a></span><span data-social="twitter"><a href="#" target="_blank"><span class="icon-twitter5"></span></a></span><span data-social="youtube"><a href="#" target="_blank"><span class="icon-youtube2"></span></a></span></div><div class="copyright footer-spacer"><p>© Wythe Marschall 2021.</p></div>        </div>
    </div>
    </div>
</footer>