<fieldset>
  <legend>Sign up for our mailing list!</legend>
<aside id="mailing_list" class="clearfix">
  <form action="//mc.us10.list-manage.com/subscribe/landing-page?u=ff117e64f46c7cb6d5f222ecb&id=6fb3027bfb&f_id=00954ae4f0" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
    <div>
      <label for="mc-EMAIL">Email Address</label>
      <input type="text" name="EMAIL" value="" id="mc-EMAIL" data-np-autofill-field-type="email" data-np-uid="630c8990-54d7-4365-93ff-ab852e46b009" class="invalid">
    </div>
    <input type="hidden" name="ht" value="1a661709402e39bdee5b0388e06ceb5b56db45f2:MTcyMjU2NTYzMy43OTgx">
    <input class="button" type="submit" value="Subscribe" data-dojo-attach-point="submitButton">
  </form>
</aside>
</fieldset>