<nav id="primary-nav">
  <ul class="main-menu clearfix">
    <li><a href="/games/index.html">
        Games
        <!-- <span class="drop-icon">▾</span> -->
        <label title="Toggle Drop-down" class="drop-icon" for="sm-games">▼</label>
      </a>
      <input type="checkbox" id="sm-games">
      <ul class="sub-menu">
        <li><a href="/games/stillfleet/">
            Stillfleet
            <!-- <span class="drop-icon">▾</span> -->
            <label title="Toggle Drop-down" class="drop-icon" for="sm-stillfleet">▶</label>
          </a>
          <input type="checkbox" id="sm-stillfleet">
          <ul class="sub-menu">
            <li><a href="/games/stillfleet/rules.html">Rules</a></li>
            <li><a href="/games/stillfleet/ventures/">Ventures</a></li>
            <li><a href="/games/stillfleet/gazetteers/">Gazetteers</a></li>
            <li><a href="/games/stillfleet/resources/">Resources</a></li>
          </ul>
        </li>
        <li data-accent="blister_critters"><a  href="/games/blister_critters/">Blister Critters</a></li>
      </ul>
    </li>
    <li><a href="{{ link systems/index.md }}">
        Systems
        <!-- <span class="drop-icon">▾</span> -->
        <label title="Toggle Drop-down" class="drop-icon" for="sm-systems">▼</label>
        <input type="checkbox" id="sm-systems">
        <ul class="sub-menu">
          <li>
            <a href="/games/stillfleet/">
              Stillfleet
            </a>
          </li>
        </ul>
      </a>
    </li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/press.html">Press</a></li>
  </ul>
</nav>