body#home {
  display: flex;
  flex-direction: column;

  main > section {
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
    gap: 2rem;

    &[data-content="masthead"] {
      flex-direction: row;
      flex-basis: auto;
      padding-right: 2rem;
      padding-left: 2rem;
      margin: 1rem auto;


      @include medium-breakpoint {
        flex-direction: row;
      }

      figure {
        flex-grow: 1;
        align-self: stretch;
        background: url("/assets/img/brands/home-blooder-mouse-transparent.png") no-repeat;
        background-size: contain;
        background-position: center;
        height: inherit;
        align-self: stretch;
        min-width: 50%;
        transition: 0.5s;
        display: none;

        @include large-breakpoint {
          display: inline;
          transition: 0.5s;
        }
      }

      div {
        flex-grow: 1;

        section[data-content="lede"] {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 200px;
          transition: 0.5s;
          flex-grow: 0;
          flex: 4;

          @include medium-breakpoint {
          }
          @include xlarge-breakpoint {
            flex-grow: 3;
          }
          header {
            width: 100%;
            h2 {
              font-size: $h1;
              color: $tephnian-red;
              font-family: $studio-brand-font;
              text-align: left;
            }
          }
          article {
            margin: 0;
            p {
              font-weight: bold;
            }
          }
        }
        section.callouts {
          display: flex;
          flex-direction: column;
          flex: 2;
          gap: 0.1rem;

          @media only screen and (max-width: $mobile) {
            a.callout {
              &:first-of-type {
                border-radius: 8px 8px 0 0;

                header {
                  border-radius: 8px 8px 0 0;
                }
                footer {
                  border-radius: 0;
                }
              }
              &:last-of-type {
                border-radius: 0 0 8px 8px;
                header {
                  border-radius: 0;
                }
                footer {
                  border-radius: 0 8px 8px;
                }
              }
            }
          }

          @include small-breakpoint {
            flex-direction: row;
          }

          @include xlarge-breakpoint {
            flex-direction: row;
            flex-shrink: 2;
          }
        }
      }
    }

    &.feature#blister-critters {
      background: url('/assets/img/brands/blister_critters/stuff_background2.png'), $blister_critters_cool_gradient;
      background-position: top center;
      //background-attachment: fixed;
      gap: 0;
      padding-bottom: 1rem;

      figure {
        background: url("/assets/img/brands/blister_critters/critter-scartail-flipped-transparent.png"), linear-gradient(120deg, transparent 0%, transparent 68%,black 100%) no-repeat;
        background-position: center top;
        background-size: cover;
        height: inherit;
        align-self: stretch;
        min-width: 40%;
        transition: 0.5s;
        margin-top: 0;

        @include large-breakpoint {
          transition: 0.5s
        }
      }

      article {
        margin-bottom: 0;
        padding: 0.75rem;
        margin: 1.5 rem 0rem 1rem;
        backdrop-filter: blur(10px) brightness(110%);
        border-radius: 8px;

        @include medium-breakpoint {
          margin-top: 2.5rem;
          margin-bottom: 2rem;
        }

        @include large-breakpoint {

        }

        h2 {
          color: $blister-critters-pink;

          @include medium-breakpoint {
            margin-bottom: 0;
          }
        }
        p {
          border-radius: 16px;
          padding: 1rem 0.5rem 1rem 0;

          @include medium-breakpoint {
            padding-top: 0.5rem;
            margin-bottom: 0.5rem;
          }
        }
        a {
          background-color: #32cc80;
          color: #2230a1;
          border-color: $school-bus-yellow;

          &:hover {
            background-color: $school-bus-yellow;
            color: black;
          }
        }
      }
      ul {
      }
    }

    &.feature#stillfleet {
      background: linear-gradient(to bottom, $rich-black 0%, transparent 10%, transparent 100%), $stillfleet-background;
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;

      @include medium-breakpoint {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
      }

      @include xlarge-breakpoint {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
      }

      figure {
        background: url("/assets/img/brands/stillfleet/pepper-elf-transparent-reverse.png") no-repeat;
        background-position: center;
        background-size: cover;
        height: inherit;
        align-self: stretch;
        min-width: 40%;
        transition: 0.5s;
      }

      article {
        color: white;

        margin-top: 0;
        margin-bottom: 0;

        @include medium-breakpoint {
          margin-top: 2rem !important;
          margin-bottom: 2rem !important;
        }

        @include xlarge-breakpoint {
        }
        h2 {
          margin-bottom: 1rem;
          color: $tephnian-red;
        }
        ul li > a.external {
          background-color: black;
          color: $stillfleet-red;

          &:hover {
            background-color: $stillfleet-red;
            color: white;
          }
        }
      }
    }

    &.feature#why-we-roll {
      background: rgb(233,30,215);
      // background: url('/assets/img/third-party/d20-tiles.svg'), linear-gradient(180deg, $rich-black 0%, rgba(233,30,215,1) 5%, rgba(186,71,230,1) 48%, rgba(143,106,253,1) 100%);
      background: url('/assets/img/third-party/wwr-d20-tesselated-bg.png'), linear-gradient(to bottom, $rich-black 0%, #b9529f 5%, #00aeef 100%);
      background-size: auto;
      color: white;
      background-attachment: fixed;
      padding: 1rem;
      flex-direction: column;

      @include medium-breakpoint {
        padding: 2rem;
      }

      figure {
        margin-right: 2rem;

        img {

        }
      }

      a {
        background-color: rgba(233,30,215,1);
        color: #fdff00;
        border-color: white;

        &:hover {
          background-color:  #fdff00;
          color: rgba(143,106,253,1);
        }
      }
      @include medium-breakpoint {
        flex-direction: row;
      }
      article {
        padding: 0.75rem;

        @include medium-breakpoint {
          margin: 2rem;
        }
        h2 {
          color: #fdff00;
          text-align: left;
        }
      }
    }
  }
}