body[data-env="development"] {
  border-top: 3px solid white;
  @include small-breakpoint {
    border-top: 3px solid yellow;
  }
  @include medium-breakpoint {
    border-top: 3px solid orange;
  }
  @include large-breakpoint {
    border-top: 3px solid red;
  }
  @include xlarge-breakpoint {
    border-top: 3px solid purple;
  }
}
body#home {
  display: flex;
  flex-direction: column;

  main > section {
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
    gap: 2rem;

    &[data-content="masthead"] {
      flex-direction: column;
      flex-basis: auto;
      padding-right: 2rem;
      padding-left: 2rem;
      margin: 1rem auto;

      h2 {
        font-size: $h1;
      }

      @include medium-breakpoint {
        flex-direction: row;
      }

      section[data-content="lede"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 200px;
        margin: 2rem;
        transition: 0.5s;
        flex-grow: 0;


        @include medium-breakpoint {
          transform: rotate(-10deg);
        }

        h2 {
          font-size: $h2;
        }
        p {
          font-weight: bold;
          font-size: $h4;
        }
      }

      section[data-content="static-callout"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: url("/assets/img/brands/home-blooder-mouse-transparent.png") no-repeat;
        background-size: contain;
        background-position: center;
        justify-content: space-between;
        flex: 3 0 auto;
        min-width: 400px;
        min-height: 400px;
        transition: 0.5s;

        @include small-breakpoint {
          min-width: 500px;
          min-height: 500px;
          transition: 0.5s;
        }


        @include xlarge-breakpoint {
          justify-content: space-around;
        }

        a {
          max-width: 125px;
          background-color: white;
          color: $tephnian-red;
          padding: 1rem;
          border-radius: 8px;
          font-weight: bold;
          transition: 0.5s;

          &:hover {
            background-color: $tephnian-red;
            color: white;

            transition: 0.5s;
            opacity: 0.7;
            text-decoration: none;
          }

          &[data-brand="stillfleet"] {
            align-self: flex-start;
          }
          &[data-brand="blister_critters"] {
            align-self: center;
            margin-bottom: 8em;
          }
        }
        img {
          max-height: 500px;
        }
      }
    }


    section.callouts {
      display: flex;
      flex-direction: column;
      flex: 2;
      gap: 0.5rem;

      @include medium-breakpoint {
        flex-direction: column;
      }

      @include xlarge-breakpoint {
        flex-direction: row;
        flex-shrink: 2;
      }
    }

    &.feature#stillfleet {
      background: linear-gradient(to bottom, $rich-black 0%, transparent 10%, transparent 100%), $stillfleet-background;
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;

      @include medium-breakpoint {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
      }

      @include xlarge-breakpoint {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
      }

      img {
        overflow-x: hidden;
        max-height: 500px;
        width: auto;
        flex-shrink: 0;
        padding: 0;
        object-fit: cover;
        object-position: bottom;
        border-radius: 0 0 8px 8px;
        align-self: auto;
      }

      article {
        color: white;

        margin-top: 0;
        margin-bottom: 0;

        @include medium-breakpoint {
          margin-top: 2rem !important;
          margin-bottom: 2rem !important;
        }

        @include xlarge-breakpoint {
        }
        h2 {
          margin-bottom: 1rem;
        }
        ul li > a.external {
          background-color: black;
          color: $stillfleet-red;

          &:hover {
            background-color: $stillfleet-red;
            color: white;
          }
        }
      }
    }

    &.feature#blister-critters {
      background: url('/assets/img/brands/blister_critters/stuff_background2.png'), $blister_critters_cool_gradient;
      background-position: top center;

      img {
        align-self: flex-end;
      }

      article {
        margin-bottom: 0;
        h2 {
          color: $blister-critters-pink;
        }
        p {
          backdrop-filter: blur(10px) brightness(110%);
          border-radius: 16px;
          padding: 1rem 0.5rem;
        }
        a {
          background-color: #32cc80;
          color: #2230a1;
          border-color: $school-bus-yellow;

          &:hover {
            background-color: $school-bus-yellow;
            color: black;
          }
        }
      }
      ul {
      }
    }

    &.feature#why-we-roll {
      background: rgb(233,30,215);
      background: linear-gradient(180deg, $rich-black 0%, rgba(233,30,215,1) 5%, rgba(186,71,230,1) 48%, rgba(143,106,253,1) 100%);
      color: white;
      background-attachment: fixed;
      padding: 1rem;
      flex-direction: column;

      @include medium-breakpoint {
        padding: 2rem;
      }

      img {
        margin-right: 2rem;

        @include xlarge-breakpoint {
          margin-right: auto;
        }
      }

      a {
        background-color: rgba(233,30,215,1);
        color: #fdff00;
        border-color: white;

        &:hover {
          background-color:  #fdff00;
          color: rgba(143,106,253,1);
        }
      }
      @include medium-breakpoint {
        flex-direction: row;
      }
      article {
        margin: 0;
        @include medium-breakpoint {
          margin: 2rem;
        }
        h2 {
          color: #fdff00;
          text-align: left;
        }
      }
    }

    section[data-content="lede"] {
      flex: 4;
      @include xlarge-breakpoint {
        flex-grow: 3;
      }
    }
  }
}