body#rules[data-brand="stillfleet"] {
  dl.difficulties {
    dt, dd {
      color: $rich-black;

      &.five {
        background-color: #616161;
      }
      &.six {
        background-color: #00a863;
      }
      &.seven {
        background-color: #26b57b;
      }
      &.nine {
        background-color: #72cfa9;
      }
      &.twelve {
        background-color: #e5f6ef;
      }
    }
  }
  dl.scores {
    width: 80%;
    margin: 2rem auto 2rem 0;
    dt {
      background-color: $tephnian-red;
      font-family: $brand-font;
      font-size: 1.3rem;
      font-weight: bold;
      border-bottom: 1px solid white;
      padding: 0.2rem 0.5rem;
    }
    dd {
      border-bottom: 1px solid white;
      padding: 0.2rem 1rem;
    }
  }

  .product-card {
    background-color: $rich-black;
    color: white;
    margin-right: 1rem;
    @include large-breakpoint {
      min-height: 300px;  
    }
    
  }
}