body > footer {
  background-color: #000;
  bottom: 0;
  display: flex;

  flex-direction: row;
  height: 6rem;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  @include medium-breakpoint {
    height: 3rem;
    flex-direction: row;
    text-align: left;
    flex-wrap: nowrap;
  }

  & > * {
    padding-top: 0.5rem;
  }

  .stillfleet-logo {
    margin: 0 auto;
    opacity: 0.7;
    background-position: center bottom;
    width:calc(100% / 2);

    @include medium-breakpoint {
      width:calc(100% / 3);
    }

    &:hover {
      opacity: 1;
    }
  }

  .copyright {
    width: 100%;
    color: $fpo-gray;
    flex-grow: 1;
    line-height: 2rem;
    margin: 0;
    background-color: #000;

    @include medium-breakpoint {
      width: calc(100% / 3);
      height: 100%;
    }    
  }

  .social {
    width: 100%;
    background-color: #000;
    margin-top: 0rem;
    flex-grow: 2;

    @include medium-breakpoint {
      flex-grow: 1;
      width:calc(100% / 3);
    }

    ol {
      display: flex;
      justify-content: space-evenly;

      li {
        flex-direction: row;  
      }

      a {
        svg path {
          fill: $fpo-gray;
        }
        &:hover {
          svg path {
            fill: $white;
          }  
        }
      }
    }
  }
}