header {
  background-color: $rich-black;
  display: flex;
  height: 5rem; 
  flex-direction: column;
  justicy-content: space-between;
  padding-bottom: 1rem;

  @include medium-breakpoint {
    flex-direction: row;
  }    

  h1 {
    margin: 1rem;
    height: 100%;
  }
}