header {
  a.logo {
    display: inline-block;
    width: 28.8%;

    img.logo-img {
      max-height: 100%;
      max-width: 100%;  
    }  
  }

  img.headericon {
    width: 18px;
    height: 18px;
  }
}