/**
 * Layout
 */

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > header {
    flex-shrink: 0;
    h1 {
      margin: 0 auto;
      padding: 0.25rem 0 0;
      width: auto;
      align-self: center;
      height: 75px;

      a.stillfleet-logo {
        height: 100%;
        width: 500px;
        display: inline-block;
        text-indent: -9999rem;
        background: url('/assets/img/sfs-lockup-knockout.png') no-repeat;
        background-size: contain;
        transition: 0.5s;

        @include medium-breakpoint {
          margin-left: 1rem;
          width: 450px;
        }

      }
    }
  }

  main {
    flex: 1 0 auto;

    article {
      margin: auto 1rem;

      @include medium-breakpoint {
        margin: auto 8rem;
      }
    }

    & > section {
      &.full-width {
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
      }

      &.half-width {
        width: 50%;
        display: block;
        margin: 0 !important;
        padding: 0;
      }
    }
  }
  footer {
    flex-shrink: 0;
  }
}



ul.button-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1rem;
  }
}
ul.rowlist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

