/**
 * Layout
 */

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  flex-shrink: 0;
}
main {
  flex: 1 0 auto;
  margin: auto 8rem;
}
footer {
  flex-shrink: 0;
}


a.stillfleet-logo {
  height: 100%;
  width: 300px;
  display: inline-block;
  text-indent: -9999rem;
  background: url('/assets/img/sf-logo-white.png') no-repeat;
  background-size: contain;
}