/**
 * Layout
 */

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  flex-shrink: 0;
}
main {
  flex: 1 0 auto;

  article {
    margin: auto 1rem;

    @include medium-breakpoint {
      margin: auto 8rem;
    }  
  }

  & > section {
    &.full-width {
      display: block;
      margin: 0 !important;
      padding: 0;
    }

    &.half-width {
      width: 50%;
      display: block;
      margin: 0 !important;
      padding: 0;
    }
  }
}
footer {
  flex-shrink: 0;
}

ul.button-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1rem;
  }
}
ul.rowlist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

a.stillfleet-logo {
  height: 100%;
  width: 300px;
  display: inline-block;
  text-indent: -9999rem;
  background: url('/assets/img/sf-logo-white.png') no-repeat;
  background-size: contain;
}