//
// _includes/components/credits.html
//

a[data-include="cover"] {
  figure {
    img {
      max-width: 125px;
      @include medium-breakpoint {
        max-width: 160px;
      }
    }  

    figcaption {
      width: 140px;
      @include medium-breakpoint {
        width: 150px;
      }
    }
  }
}

ul.covers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

  li {
    list-style: none;
    margin: 0;
    padding: 0;   
  }
}

//
// _includes/components/product.html
//

figure.product {
  float: right;
  max-width: 50%;
  margin-left: 2em;
  margin-right: -4em;
  filter: drop-shadow(4px 4px 4px $rich-black);

  figcaption {

  }
}

//
// _includes/components/credits.html
//

footer#credits {
  background-color: black;
  padding: 1em;
  display: flex;
  flex-direction: row;

  section {
    flex-basis: 25%;
    flex-grow: 2; 
    flex-shrink: 1;

    h1 {
      color: $fpo-gray;
      font-size: $h4;
      margin: 0;  
    }
    small {
      display: block;
      color: $fpo-gray;
    }  
    margin-right: 2rem;
  }
  
  ul {
    flex-basis: 66%;
    flex-grow: 3;
    flex-shrink: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 1em;
    padding: 0;

    li {
      list-style: none;
      width: 50%;

      cite {

      }    
    }
  }
}

//
// _includes/components/purchase.html
//

a.purchase {
  display: inline-block;
  background-color: $tephnian-red;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
}

//
// _includes/components/internal-nav.html
//

nav[data-role="internal-nav"] {
  clear: both;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    margin: 1rem 0 0;
    padding: 0;

    li {
      padding: 0.7rem 0;
      list-style: none;
      font-weight: bold;
      font-size: 1.2em;

      a {
        color: white;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
