//
// _includes/components/cover.html
//

a[data-include="cover"] {
  &:hover {
    background-color: rgba(0,0,0,0.4);
  }
  width: 100%;

  figure {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    align-self: stretch;

    max-width: 125px;

    @include medium-breakpoint {
      max-width: 200px;
      gap: 1rem;
      flex-direction: column;
    }

    img {
      flex-grow: 1;
      width: 100%;
    }  

    figcaption {
      height: 100%;
      flex-grow: 2;
      flex-shrink: 0;
      font-size: 1.3rem;
      @include medium-breakpoint {

      }
    }
  }
}

//
// _includes/components/cover-list.html
//

ul.covers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;

  @include medium-breakpoint {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }


  li {
    list-style: none;
    margin: 0;
    padding: 1rem;
  }
}

//
// _includes/components/product-card.html
//

section.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

a.product-card {
  float: left;
  width: 100%;
  padding: 10px;
  flex-direction: column;

  @include small-breakpoint {
    flex-direction: row;
    width: 100%;
  }

  @include medium-breakpoint {
    
    flex-direction: row;
  }
  @include large-breakpoint {
    width: calc( (100% / 2) - 20px );
  }
  text-decoration: none;
  display: flex;

  color: $rich-black;
  margin-bottom: 1rem;
  padding: 1rem;

  &:hover {
    text-decoration: none;
  }

  figure {
    overflow-y: hidden;
    height: 100px;
    background-size: contain;
    background-position: -15%;

    @include small-breakpoint {
      background-repeat: no-repeat;
      min-width: 200px;
      background-size: contain;
      background-position: right;
      height: auto;
    }

    @include large-breakpoint {
      background-size: contain;
      background-position: left 2.5rem;
      min-width: 150px;
    }

    img {
      margin-top: 2.5rem;
      object-position: center;

      @include medium-breakpoint {
        margin-top: 0;
      }
    }

  }

  article {
    margin: 0;
    min-height: 225px;
    display: flex;
    flex-direction: column;

    padding-left: 1rem;

    header {
      margin: 0;
      font-size: $h5;
      color: $tephnian-red;
    }
    p {
      margin: 0;
    } 
  }
}
section.product-cards .product-card {
  float: none;
}

//
// _includes/components/product-link.html
//

figure[data-include="product-link"] {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;

  background-color: rgba(0,0,0,0.1);
  border-radius: 8px;
  align-self: stretch;

  max-width: 125px;

  @include medium-breakpoint {
    max-width: 200px;
    gap: 1rem;
    flex-direction: column;
  }
  a {
    &:hover {
      background-color: rgba(0,0,0,0.4);
      color: $white;
      text-decoration: none;
    }
    width: 100%;
  }
  img {
    flex-grow: 1;
    width: 100%;
  }

  figcaption {
    height: 100%;
    flex-grow: 2;
    flex-shrink: 0;
    font-size: 1.3rem;
    text-align: center;
    @include medium-breakpoint {

    }
  }
}

//
// _includes/components/play_now.html
//

#play-now {
  legend {

  }

  margin: 2rem 4rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  &[data-brand="stillfleet"] {
    border: 4px double darken($tephnian-red, 30%);

    legend {
      font-family: $brand-font;
      color: $tephnian-red;
    }
  }
}


//
// _includes/components/credits.html
//

footer#credits {
  background-color: black;
  padding: 1em;
  display: flex;
  flex-direction: row;

  section {
    flex-basis: 25%;
    flex-grow: 2; 
    flex-shrink: 1;

    h1 {
      color: $fpo-gray;
      font-size: $h4;
      margin: 0;  
    }
    small {
      display: block;
      color: $fpo-gray;
    }  
    margin-right: 2rem;
  }
  
  ul {
    flex-basis: 66%;
    flex-grow: 3;
    flex-shrink: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 0 1em;

    li {
      list-style: none;
      margin: 0 1rem;

      cite {
        &::before {
          content: ', '
        }
        &:first-of-type::before {
          content: '';
        }
      }
    }
  }
}

//
// _includes/components/purchase.html
//

a.purchase {

  &:hover {
  }
}
//
// _includes/components/internal-nav.html
//

nav[data-role="internal-nav"] {
  clear: both;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    margin: 1rem 0 0;
    padding: 0;

    li {
      padding: 0.7rem 0;
      list-style: none;
      font-weight: bold;
      font-size: 1.2em;

      a {
        color: white;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

//
// _includes/components/callout.html
//

.callouts {
  .callout {
    &:first-of-type {
      border-radius: 8px 0 0 8px;

      header {
        border-radius: 8px 0 0 0;
      }
      footer {
        border-radius: 0 0 0 8px;
      }
    }
    &:last-of-type {
      border-radius: 0 8px 8px 0;
      header {
        border-radius: 0 8px 0 0;
      }
      footer {
        border-radius: 0 0 8px 0;
      }
    }
  }
}

a.callout {
  display: inline-block;

  min-width: 250px;
  min-height: 300px;
  background-size: cover;
  background-position: top right;
  flex: 1;
  width: 100%;
  transition: 2s;
  padding: 0;

  &:hover {
    text-decoration: none;
    color: lighten($primary-color, 20%);
    background-position: bottom left;
    transition: 6s;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: inherit;
    min-height: inherit;

    header, footer {
      background-color: transparent;
      display: block;
      backdrop-filter: blur(4px) brightness(30%);
      flex-grow: 0;

      &:empty {
        display: none;
      }
    }
    header {
      padding: 0 1rem;
      width: auto;
      font-size: $h2;
      background: transparent;
      &:empty {
        display: none;
      }
    }

    p {
      flex-shrink: 0;
      flex-grow: 2;

      &:empty {
        display: none;
      }

      @include medium-breakpoint {
        display: block;
        flex-shrink: 1;
      }
    }

    footer {
      font-size: 1rem;
      height: auto;
      padding: 0.5rem 1rem;
      font-weight: bold;
      text-align: right;

      @include small-breakpoint {

      }
    }
  }
}

//
// feature
//
main > section.feature {
  display: flex !important;
  justify-content: space-around !important;
  flex-direction: column !important;
  margin: 0 !important;
  padding: 0 !important;

  @include medium-breakpoint {
    flex-direction: row !important;
  }
  @include large-breakpoint {
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    margin: 0.5rem auto 0;
    transition: 0.5s;


    img {
      object-fit: scale-down;
      height: 100%;
      width: 100%;
    }

    &.collapse {
      display: none;
    }

    @include small-breakpoint {
    }

    @include medium-breakpoint {
      &.collapse {
        display: flex;
      }

      padding: 0 0 0 2rem;
    }

    @include large-breakpoint {
      &.collapse {
        display: flex;
      }

    }

  }
  article {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem !important;
    margin: 0 auto;
    width: 100%;

    &.blurred-background {
      backdrop-filter: blur(10px) brightness(110%);
      @include medium-breakpoint {
        border-radius: 8px;
      }
    }

    @include medium-breakpoint {
      margin: 2rem;
    }

    @include large-breakpoint {
      margin: 2rem;
    }


    h2 {
      font-family: 'sans_regular_heavy';
      font-size: $h1;
      text-align: center;
      margin: 0;

      @include medium-breakpoint {

      }
    }

    a {
      transition: 0.5s;

      &:hover {
        transition: 0.75s;
      }
    }

    p {

    }
    ul.rowlist {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }

  &:nth-child(odd) {
    figure, img {
      order: 1;
      object-position: right;
    }

    article {
      order: 2;

      @include medium-breakpoint {
        margin: auto 2rem 2rem auto;
      }

      @include large-breakpoint {
      }

      h2 {
        text-align: left;
      }
    }
  }
  &:nth-child(even) {
    article {
      order: 1;

      @include medium-breakpoint {
        margin: auto 0 2rem 2rem;
      }

      @include large-breakpoint {
      }

      h2 {
        text-align: left;
        margin-bottom: 1rem;
      }
    }

    figure, img {
      order: 2;
      object-position: left;
    }
  }
}