figure.quote {
  margin: 2rem 0;

  blockquote {
    text-indent: -0.45em;
    border-left: 0;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  figcaption {
    margin-left: 2rem;
    cite {

    }
  }
}