.social {
  height: 100%;
  margin-top: 1rem;
  order: 1;

  @include medium-breakpoint {
    order: 2;
  }   

  ol {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    li {
      a {
        svg {
          &.icon {
            min-height: 1.5rem;
            max-height: 3rem;         
          }

          path {
            fill: $white;  
          }
          &.facebook {
            fill-rule: evenodd;
            stroke-width: 0px;
          }
          &.twitch {
            /* enable-background:new 0 0 512 512; */
          }
          &.twitter {
            /* enable-background:new 0 0 24 24; */
          }
          &.patreon {
            /* enable-background: new 0 0 20 20 */
            path {
              fill-rule: evenodd;
              clip-rule: evenodd;
            }
          }
        } 
        &:hover {
          svg {
            filter: drop-shadow(5px 3px 3px $fpo-gray);
          }  
        }
      }
    }
  }
}

.external {
  @extend %buttons;
  display: inline-block;
  background-color: white;
  padding: 1rem;
  margin: 0;
  color: black;
  border: none;

  &:hover {
    text-decoration: none;
  }

  &.apple-podcasts {
    background: url('/assets/img/third-party/apple-podcasts.png') no-repeat white;
    background-position: 0.5rem;
    background-size: 2rem;
    padding-left: 3rem;
  }
  &.drivethrurpg {
    background: url('/assets/img/third-party/drivethrurpg.png') no-repeat white;
    background-position: 0.5rem;
    background-size: 2rem;
    padding-left: 3rem;    
  }
  &.itchio {
    background: url('/assets/img/third-party/itchio.png') no-repeat white;
    background-position: 0.5rem;
    background-size: 2rem;
    padding-left: 3rem;    
  }
  &.kickstarter {
    background: url('/assets/img/third-party/kickstarter.png') no-repeat white;
    background-position: 0.5rem;
    background-size: 2rem;
    padding-left: 3rem;    
  }
  &.patreon {
    background: url('/assets/img/third-party/patreon.png') no-repeat white;
    background-position: 0.5rem;
    background-size: 2rem;
    padding-left: 3rem;
  }

  &.simplecast {
    background: url('/assets/img/third-party/simplecast.png') no-repeat white;
    background-position: 0.5rem;
    background-size: 2rem;
    padding-left: 3rem;
  }
  &.spotify {
    background: url('/assets/img/third-party/spotify.png') no-repeat white;
    background-position: 0.5rem;
    background-size: 2rem;
    padding-left: 3rem;    
  }
}