$blister_critters-pink: $mexican-pink;
$blister_critters-yellow: $school-bus-yellow;
$blister_critters-blue: $sapphire;
$blister_critters-teal: $dark-cyan;
$blister_critters-green: #55bc7b;

$blister_critters_primary: black;
$font-color: $blister_critters_primary;
$blister_critters_secondary: $weird-blue;
$blister_critters_bg: $electric-yellow;
$blister_critters_background: none;

$blister_critters_warm_gradient: linear-gradient(180deg, $blister-critters-pink 0%, $blister-critters-yellow 25%, white 100%) no-repeat;
$blister_critters_cool_gradient: linear-gradient(180deg, transparent 0%, #32cc80 55%, #2230a1 80%, black 100%) no-repeat;

body[data-brand="blister_critters"] {
  background: $school-bus-yellow;
  background: $blister_critters_warm_gradient;

  color: $font-color;
  font-size: $body-font-size;

  a {
    color: $blister_critters_blue;
    font-weight: bold;
    &:hover {
      color: darken($blister_critters_blue, 20%);
    }
  }

  strong {
    color: $blister-critters-pink;
    font-weight: bold;
  }

  blockquote {
    border-left-color: $blister-critters-pink;
  } 

  figure.quote {
    figcaption {
      color: $blister-critters-pink;
    } 
  }
  

  h1 {
    font-family: 'darumadrop-one', $header-font;
    color: $blister_critters-pink;
  }
  h2, h3, h4, h5, h6 {
    font-family: $header-font;
    color: $rich-black;
  }

  #credits {
    color: white;
  }

  ul li, dl dd, dl dt {
    &.🐢 {
      list-style: none;
      &::before {
        content: '🐢';
        padding-right: 1rem;
      }
    }
    &.🐓 { 
      list-style: none;
      &::before {
        content: '🐓';
        padding-right: 1rem;
      }
    }
    &.🦀 {
      list-style: none;
      &::before {
        content: '🦀';
        padding-right: 1rem;
      }
    }
    &.🦨 { 
      list-style: none;
      &::before {
        content: '🦨';
        padding-right: 1rem;
      }
    }
    &.🐞 { 
      list-style: none;
      &::before {
        content: '🐞';
        padding-right: 1rem;
      } 
    }
    &.🐴 {
      list-style: none;
      &::before {
        content: '🐴';
        padding-right: 1rem;
      }
    }
    &.🐷 {
      list-style: none;
      &::before {
        content: '🐷';
        padding-right: 1rem;
      }
    }
    &.🐼 {
      list-style: none;
      &::before {
        content: '🐼';
        padding-right: 1rem;
      }
    }
    &.🐸 {
      list-style: none;
      &::before {
        content: '🐸';
        padding-right: 1rem;
      }
    }
    &.🐯 {
      list-style: none;
      &::before {
        content: '🐯';
        padding-right: 1rem;
      }
    }
  }
}



////////////////
// Accents 
///////////////

h1[data-accent="blister_critters"] {
  font-family: 'darumadrop-one', $header-font;
  color: $blister_critters-pink;
}

[data-accent="blister_critters"] {
  &:hover, a:hover {
    background-color: $blister_critters_bg !important;  
    color: $blister_critters_primary !important;
    font-weight: bold;
  }
}