$blister_critters_primary: black;
$font-color: $blister_critters_primary;
$blister_critters_secondary: $weird-blue;
$blister_critters_bg: $electric-yellow;
$blister_critters_background: none;

body[data-brand="blister_critters"] {
  color: $font-color;
  background: $blister_critters_background;
  font-size: $body-font-size;

  h1, h2, h3, h4, h5, h6 {
    color: $blister_critters_primary;
  }
}



////////////////
// Accents 
///////////////

[data-accent="blister_critters"] {
  &:hover, a:hover {
    background-color: $blister_critters_bg !important;  
    color: $blister_critters_primary !important;
    font-weight: bold;
  }
}