$stillfleet-background: url('/assets/img/sf-bg.jpg') no-repeat fixed black !default;


//==============================================================================
// Brand Colors
//==============================================================================

$stillfleet-green: #109773;
$stillfleet-bluish: $weird-blue;
$stillfleet-red: $tephnian-red;
$stillfleet-light-red: #ffdbe2;
$stillfleet-medium-red: #fd869d;
$stillfleet-rose: #b45a76;
$stillfleet-pink: #ffecee;


body[data-brand="stillfleet"] {
  color: $font-color;
  background: $stillfleet-background;
  background-attachment: fixed;
  font-size: $body-font-size;

  h1 {
    font-family: 'citizen_bold';
    color: $tephnian-red;
  }
  h2, h3, h4, h5, h6 {
    font-family: $header-font;
    color: white;
  }
}