{% include components/product-card.html 
  title="The Blister Critters Quickstart"
  slug="bc-qsr"
  src="/assets/img/brands/blister_critters/cover.jpg"
  href="/games/blister_critters/quickstart.html" 
  class=include.class
  style=include.style
  text="Take on the role of animals known as Critters in a radiation-blasted, eco-apocalyptic Saturday-morning cartoon! Get the free <em>Quickstart</em> and dive into this innovative and surreal game. Use your bizarre mutations—Blisters—to survive in a vast, cruel suburbia populated by your fellow Critters and their feral counterparts, Beasts."
  %}