{% include components/product-card.html 
  title="The Blister Critters Quickstart"
  slug="bc-qsr"
  src="/assets/img/products/blister_critters/blister_critters-qsr/blister_critters-qsr-cover.jpg"
  srcset="blister_critters-qsr-cover-truncated.jpg 480w, blister_critters-qsr-cover.jpg 800w"
  sizes="(max-width: 600px) 480px, 800px"
  href="/games/blister_critters/quickstart.html" 
  class=include.class
  style=include.style
  text="Take on the role of animals known as Critters in a radiation-blasted, eco-apocalyptic Saturday-morning cartoon! Get the free <em>Quickstart</em> and dive into this innovative and surreal game. Use your bizarre mutations—Blisters—to survive in a vast, cruel suburbia populated by your fellow Critters and their feral counterparts, Beasts."
  %}