{% include components/product-card.html 
  title="The Blister Critters Rulebook"
  slug="bc-rulebook"
  src="/assets/img/products/blister_critters/blister_critters-rulebook/bc-rulebook-cover.jpg"
  href="/games/blister_critters/rulebook.html" 
  class=include.class
  style=include.style
  text="Take the reins of radiation-blasted animals known as Critters starring in an eco-apocalyptic Saturday-morning cartoon show! <em>The Blister Critters Rulebook</em> contains 96 pages of mayhem, including 6 Critter categories consisting of 66 different animals; 4 Blister Paths full of dozens of mutant powers and cartoon-logic Nonsense powers; 10 cartoon Roles to play in your party; mind-blowing full-color art by Anthony Grasso, and much more!
"
  %}