{% include components/product-card.html 
  title="The Stillfleet Core Rulebook"
  slug="crb"
  src="/assets/img/products/stillfleet/stillfleet-crb/stillfleet-crb-cover.jpg"
  href="/games/stillfleet/crb.html" 
  class=include.class
  style=include.style
  text="<em>The Stillfleet Core Rulebook</em> builds on the simple rules of the <em>Quickstart</em>, expanding the game with extremely fun character options and rich lore. The complete rules include 10 classes of Co. voidminer, 22 playable sapient species, hundreds of advanced powers, nanotech “blooder” powers, deeply Weird hell science powers, over 20 full encounters, and much more."
  %}