{% include components/product-card.html 
  title="Peregrinations, vol. 1"
  slug="peregrinations-1"
  src="/assets/img/products/stillfleet/peregrinations-1/peregrinations-1-cover.jpg"
  href="/games/stillfleet/miniventures/peregrinations-1.html" 
  text="Pick up all 8 of the genre-hopping official mini-ventures (playable scenarios) for <em>Stillfleet</em> in a single volume of 196 pages! If you're new to the game, you're getting hours of material to enjoy by a range of writers (Wythe Marschall, Aaron H., Stephen Aubrey, Leonardo Andrade, and Ian Derk), plus a bonus guide on GMing. If you're a veteran voidminer, you're getting new crunchy NPC-generation tables, new encounters with art by Ethan, and a picaresque world-hopping short story. Either way, this book is a steal."
  %}

