{% include components/product-card.html 
  title="Qadida"
  slug="qadida"
  src="/assets/img/brands/stillfleet/gaz001-cover.jpg"
  href="/games/stillfleet/gazetteers/qadida.html" 
  text="The espionage sourcebook for Stillfleet features 170 pages of new classes, species, advanced powers, an in-world introduction to the domed/divided dwarf planet (Co.-controlled Worshipful Qadida and anarcho-socialist Free Qadida), and two full-length ventures! Qadida lovingly yanks the Grit System into the genres of detective fiction, eco-horror, and cold-war intrigue."
  %}

