{% include components/product-card.html 
  title="Robot Hospital"
  slug="robot-hospital"
  src="/assets/img/brands/robot_hospital/robot_hospital-large-graphic.jpg"
  class=include.class
  style=include.style
  href="/games/robot_hospital/index.html" 
  text="<em>Robot Hospital</em> is an addictive trick-taking game for all ages. A card game set in the <em>Stillfleet</em> game-cosmos: it’s Crazy Eights meets Gin Rummy meets your favorite metal-people—with a few surprises! Take on the role of a Robot Doctor working to rebuild your robot patients from piles of parts. Easy to pick up—learn as you play!"
  %}

