{% include components/product-card.html 
  title="The Sleeper in the Sky"
  src="/assets/img/brands/stillfleet/ven001-cover.jpg"
  href="/games/stillfleet/ventures/ven001_sleeper-in-the-sky.html" 
  text="In this venture, designed to introduce players and GMs to Stillfleet, the voidminers have to rescue a thieving banshee (tech specialist) from a small, supposedly abandoned Late Tephnian pleasure ship orbiting Saturn’s moon, Titan. The ship is a venatorium—a private hunting grounds—stocked with dangerous xenofauna… and one titular cryo-sleeping noble."
  %}

