{% 
  include components/product-card.html 
    title="The Rain Thieves"
    slug="ven002"
    src="/assets/img/brands/stillfleet/ven002-cover.jpg"
    href="/games/stillfleet/ventures/ven002_the-rain-thieves.html" 
    text="The Rain Thieves, a Stillfleet campaign and setting sourcebook, offers classic sand-blasted sci-fi danger and discovery on the minor province of Radanaar. The Rain Thieves features 100 pages of new rules, settings, encounters, archaetech, maps, speculative ecology, political fronts, and excerpts from a gastro-tourism guidebook for wetans (giant bugs)."
%}