---
layout: brands/stillfleet-venture
title: The Sleeper in the Sky
cover: assets/img/brands/stillfleet/ven001-cover.jpg
shop: https://stillfleet.itch.io/sleeper/purchase
sku: VEN001
version: Version 1.0
copyright: 2020 Stillfleet Studio
keywords: the sleeper in the sky, venture, stillfleet venture, stillfleet scenario, stillfleet module, arbor, arbor of uqbar, uqbar, stillfleet sleeper
credits:
  Writing: Wythe Marschall
  Art: Ethan Gould
  Design: Erich Lazar
---

<blockquote> Twenty-five pages of mayhem, including statblocks for xenofauna, lists of oddments and archaetech, and a loaded sky-dungeon to explore…</blockquote>

<p>This venture is designed to introduce your players to  <em>Stillfleet</em>.  In this venture, the voidminers (player characters) have to rescue a thieving banshee (tech specialist) from a small, supposedly abandoned Late Tephnian pleasure ship named  <em>The Arbor of Uqbar</em>  that is currently in orbit around Saturn’s moon, Titan…</p>

<p>The thing is—because Late Tephnian culture was very messed up—this “pleasure ship” is actually a venatorium, or private hunting grounds, stocked with loads of dangerous xenofauna… and one titular cryo-sleeping noble.</p>

<p>Running this venture means introducing a lot of eerie science fictional elements, but also pushing the PCs to either fight or flee, and to make difficult decisions about saving the thief or leaving her to die—either of which are acceptable outcomes for the Co.</p>

<p>This module consists of background information about the culture that produced the venatorium, the setup for the venture, room-by-room details of the venatorium, and a discussion of possible resolutions.</p>

<p>Any number of 1st-level PCs should be able to survive this venture and level up—if they don’t try to fight everything on the ship.</p>

<h3>Get the venture</h3>

<ul class="rowlist">
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/sleeper" text="Itch" class="dark" %}
  </li>
  <li>
    {% include components/purchase.html url="https://www.drivethrurpg.com/product/346559/Stillfleet-Venture-001--The-Sleeper-in-the-Sky" text="DriveThruRPG" class="dark" %}
  </li>  
</ul>