/*! 
 * Primitive UI | MIT License
 *
 * A minimalist front-end design toolkit built with Sass for developing 
 * responsive, browser-consistent web apps.
 *
 * Author: Tania Rascia <hello@taniarascia.com>
 * Source: https://github.com/taniarascia/primitive
 * Documentation: https://taniarascia.github.io/primitive
 */

//==============================================================================
// Configuration
//==============================================================================

@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';

//==============================================================================
// Reset
//==============================================================================

@import 'base/normalize';
@import 'base/reset';

//==============================================================================
// Baseline
//==============================================================================

@import 'layout';

//==============================================================================
// Components
//==============================================================================

@import 'components/scaffolding';
@import 'components/navigation';
@import 'components/grid';
@import 'components/helpers';
@import 'components/buttons';
@import 'components/forms';
@import 'components/tables';
@import 'components/social';
@import 'components/partials';
@import 'components/lists';
@import 'components/dice';
@import 'components/quotes';

//==============================================================================
// Sub-brand overrides
//==============================================================================

@import 'brands/studio';
@import 'brands/stillfleet';
@import 'brands/blister_critters';

//==============================================================================
// Page specific
//==============================================================================

@import 'pages/home';
@import 'pages/press';
@import 'pages/rules';

//===================================================
// Development Styles
//===================================================

body[data-env="development"] {
  border-top: 3px solid white;

  @include small-breakpoint {
    border-top: 3px solid yellow;
  }
  @include medium-breakpoint {
    border-top: 3px solid orange;
  }
  @include large-breakpoint {
    border-top: 3px solid red;
  }
  @include xlarge-breakpoint {
    border-top: 3px solid purple;
  }
}