---
layout: brands/stillfleet-gazetteers
title: Subtle Fluid
slug: subtle-fluid
inlay: assets/img/products/stillfleet/gaz00x/gaz00x-cover@4x.jpg
order: 2
keywords: subtle fluid, blooder, nanotech rpg, nanotech game, the blood rpg, stillfleet class, stillfleet ventures, nanofluidics, nanotech, nanotechnology, nanorobots, nanobots, nanobio rpg, wetware rpg
---

<blockquote> Get rules for the blooder class (the nanite warlock) and its nanofluidics powers&mdash;those that require “the Blood”&mdash;powerful Late Tephnian nanorobots suspended in plasma&hellip;</blockquote>

<p><em>Subtle Fluid</em> offers 37 pages of rules, art by Ethan Gould, and hooks about nanotechnology&mdash;collected into a single zine, immaculately designed by Erich Lazar&mdash;that will add dangerous spice to your games of <em>Stillfleet</em>, or any other sci-fi RPG.</p>

<p>Inside the PDF:</p>

<ul>
  <li>Rules for the blooder class in <em>Stillfleet</em>&mdash;these nanite warlocks are still capable of manipulating Terra's self-assembling mist&hellip;</li>
  <li>Names and other character details for sleepers (the humans most likely to become blooders)</li>
  <li>The full list of 39 nanofluidics powers&mdash;including spew, cloud, boneless, and many other strange and memorable abilities</li>
  <li>The Blood&mdash;rules for many types of dangerous nano-juice</li>
  <li>Nanobioelectric tattoos that allow non-blooders to access nanofluidics (for a price)&hellip;</li>
  <li>30+ nanotech items&mdash;from faceshape to mirrorskin</li>
  <li>Tons of new art to bring more of the bizarrely grim-zany universe of <em>Stillfleet</em> to life</li>
  <li>“The Sea of Our Origins”&mdash;nanotech and the human body! This section offers insight into what really happens when you use nanotech, provide a list of nanotech “foods” and “drinks,” and include more details on the bloodmadness often experienced by sleepers</li>
  <li>The Blood Supply Catalogue&trade;&mdash;the culture of nanotech: these 5000-year old magazine centerfolds offer cryopods for sale, parasitic nanofamiliars, and wraithlike servos&hellip; </li>
  <li>Two venture hooks focused on nanotech&mdash;including random encounters and locations</li>
  <li>Rules for walkers (roamers, lurkers, biters&hellip;)&mdash;the dead, animated again by the ravening nanorobots within their veins</li>
  <li>Conversion tips for d20 RPGs&mdash;run nanofluidics as a unique spell list!</li>
</ul>

<p><em>Subtle Fluid</em> was <a href="https://www.kickstarter.com/projects/wythe/subtle-fluid/">Kickstarted</a> in 24 hours for ZineQuest 3. Thanks to all of our amazing backers! We couldn't have created this without your support and input.</p>

<h2>Get the gazetteer</h2>

<ul class="rowlist">
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/subtle-fluid" text="Itch" class="dark" %}
  </li>
  <li>
    {% include components/purchase.html url="https://www.drivethrurpg.com/product/356269/Subtle-Fluid--The-blooder" text="DriveThruRPG" class="dark" %}
  </li>  
</ul>