---
layout: brands/stillfleet-product
title: The Stillfleet Core Rulebook
inlay: assets/img/products/stillfleet/stillfleet-crb/stillfleet-crb-cover@4x.jpg
sku: CRBV1
slug: crb
order: 2
version: Version 1.0 ☉ 2022
copyright: 2022 Stillfleet Studio
footer: components/stillfleet/strings.html
credits:
  Writing: 
  - Wythe Marschall 
  Art: 
  - Ethan Gould
  Design: 
  - Erich Lazar
  Layout: 
  - Erich Lazar
  - Sunaree Paiwong
  Editing: 
  - Stephen Aubrey
  Digital tools: 
  - Aaron H.
  Additional art:
  - Amanda Lee Franck
  - Anthony Grasso
  - Hodag
  - Aibrahim Zx
  - Hyperdrive Fleet
  - Masami Kiyono
  - Gabriela Lopes Tores
  - Kimberly Diestro/Orange Arcana
  - Erich Lazar
  - Wythe Marschall 
---

<blockquote>Uniquely flexible mechanics. An unforgettable game cosmos. Politically charged cosmic fantasy at its weirdest.</blockquote>

<p>Set in a paradoxically bleak and vibrant superfuture, <em>Stillfleet</em> is a sci-fi tabletop roleplaying game that empowers players with simple, intuitive mechanics and hundreds of options for powers.</p>

<p>Built on a foundation of political tension between the Co. and its medieval market-worlds, <em>Stillfleet</em> is its own timespace paradox: it’s a rules-light system with hundreds of options for powers. And it’s a genre-vaporizing work of science fiction that you can hack apart and make your own.</p>

<p>The much-awaited full rules for <em>Stillfleet</em>—professionally designed and illustrated—are now available in a single PDF of 352 pages!</p>

<p>As heard on the <a href="https://funcity.ventures/category/float-city/">real-play podcast Fun City Ventures</a>, the game uses simple rules that take only minutes to learn. Yet the <em>Stillfleet Core Rulebook</em> offers much more, including:</p>

<ul>
<li>10 classes of Co. voidminer</li>
<li>22 playable sapient species</li>
<li>Hundreds of advanced powers, nanotech “blooder” powers, and deeply Weird  hell science powers</li>
<li>An entire chapter full of strange archaetech (weapons, cooking utensils,  nanotech body modifications…)</li>
<li>Rules for stiffworks (timespace gates)</li>
<li>Settings on major and minor provinces as well as the floating hulks of dead spaceships</li>
<li>Over 20 full encounters with dangerous aliens (statblocks)</li>
<li>An elegantly designed character sheet</li>
<li>An <a href="https://strings.stillfleet.com">online character randomizer</a> by Aaron H.</li>
<li>Dozens and dozens of gorgeous original, full-color illustrations by  Ethan Gould and others</li>
<li>Intricate, worlds-building graphic design systems by Erich Lazar</li>
</ul>

<p>Play as a tech-hacking banshee, a peacemaking witness, a reality-warping tremulant, a giant bug, a strong AI trapped in a flash drive, a talking cactus, a void elf from the Dyson-sphere-enclosed Wytch Planet, Tnín&hellip; The choices are yours. The cosmos of <em>Stillfleet</em> is hilarious and horrifying. The struggles, all too real.</p>

<p>Voidminer—what will you do to resist the temptation of power? To liberate the provincials? To survive?</p>

<p>Thanks to all of <a href="https://www.kickstarter.com/projects/wythe/the-stillfleet-core-rulebook">our Kickstarter backers</a> in 2022! We would never have been able to create Stillfleet without your support, playtesting, and feedback.</p>

<h3>Praise</h3>

<figure class="quote">
  <blockquote>“<strong><em>Stillfleet</em> has precisely the sort of sci-fi tone that I like,</strong> in that it’s so soft you could spread it on toast. It’s chock-full of Interesting Weird. There are several kinds of magic sword, the rulebook looks like a prog-rock album cover, and very little presented in the fiction is explainable or explained.”</blockquote>
  <figcaption>
    &mdash;Grant Howitt, co-designer of <cite>Spire</cite> and <cite>Heart: The City Beneath</cite>
  </figcaption>
</figure>

<figure class="quote">
  <blockquote> “<strong><em>Stillfleet</em> strikes a perfect balance that eludes the vast majority of TTRPGS:</strong> the system is quick and easy to pickup, but the setting possesses a thoughtfulness and depth—at the first edition!—that rivals any other game… It’s a super-future spacefaring game on its surface, but it succeeds at helping tell stories of political intrigue, cloak and dagger mystery, large-scale geopolitical conflict, cyberpunk noir, and intimate interpersonal drama. <strong>If there is a bottom to the depth stories it can help tell, I have not seen it!</strong>”</blockquote>
  <figcaption>&mdash;Mike Rugnetta, <cite>Fun City</cite> GM and former PBS Idea Channel host.</figcaption>
</figure>

<figure class="quote">
  <blockquote> “<strong><em>Stillfleet</em> is a triumph</strong> that imagines the far far future and the socio-political inter-workings of staying alive. Makes you think about the way you eat, breathe, and bring about change in your provincial space town, on Spindle, and across the universe. <strong>It was so easy to learn, too.</strong>”</blockquote>
  <figcaption>&mdash;Jenn de la Vega, <cite>Fun City</cite> player and food influencer.</figcaption>
</figure>

<h3>Buy the PDF</h3>

<ul class="rowlist">
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/stillfleet-core-rulebook/purchase" text="Itch" class="dark" %}
  </li>
  <li>
    {% include components/purchase.html url="https://preview.drivethrurpg.com/en/product/421102/The-Stillfleet-Core-Rulebook--CRB001" text="DriveThruRPG" class="dark" %}
  </li>
</ul>

