---
layout: brands/stillfleet-product
title: The Stillfleet Quickstart Rules
inlay: assets/img/brands/stillfleet/qsr-cover.jpg
sku: QSRV2
slug: qsr
order: 1
version: Version 2.0 ☉ 2023
copyright: 2023 Stillfleet Studio
heading: Join the Worshipful Company of Stillfleeters! Tour the void! Try to survive!
keywords: quickstart, quickstart rules, stillfleet quickstart, stillfleet intro, stillfleet pregens, pregenerated characters
footer: components/stillfleet/strings.html
credits:
  Writing: Wythe Marschall
  Art: Ethan Gould
  Design: Erich Lazar
  Editing: Stephen Aubrey
  Marketing/additional design: Sunaree Paiwong
  Web design/app development: Aaron Hill
---

<blockquote><em>Stillfleet</em>  is a tabletop RPG about exploring ruined spacecraft—hulks—and habitable earth-like planets, cut off from contact with Terra for decades or centuries—rocks.</blockquote>

<p>This <em>Quickstart</em>  contains 42 pages of rules, entire classes, gear (sample weapons, armor, comms), aliens (6 encounters with full stats), settings, random tables, and a venture hook, as well as a separate document with 9 pregenerated characters—all different species and classes.</p>

<p>What’s inside:</p>

<ul>
<li>Core rules</li>
<li>Introduction to the game cosmos</li>
<li>Sample xenofauna (full statblocks)</li>
<li>Sample archaetech items</li>
<li>Nine different, fully playable pregenerated characters, with portraits</li>
<li>Amazing illustrations by Ethan Gould</li>
</ul>

<h3>Pay what you want to start playing Stillfleet today!</h3>

<ul class="rowlist">
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/quickstart/purchase" text="Itch (🇺🇸)" class="dark" %}
  </li>
  <li>
    {% include components/purchase.html url="https://www.drivethrurpg.com/product/345671/Stillfleet--Quickstart-Rules" text="DriveThruRPG" class="dark" %}
  </li>
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/regras-quickstart" text="Itch (🇧🇷)" class="dark" %}
  </li>
</ul>
