---
layout: page
brand: stillfleet
title: Bonus Robot Hospital content!
---

<h2>Get a free <em>Robot Hospital</em> playmat!</h2>

<h3>Stack your bots in style</h3>

<p>If you are attending a live Stillfleet Studio event, just show this page to a Studio member to receive a <strong>free <em>Robot Hospital</em> playmat</strong> while supplies last.</p>

<p>This full-color playmat—designed by the game’s creator, Aaron H., and our lead graphic designer, Sunaree Paiwong—helps you dive into the game by showing you where to place each stack of cards. You don’t need it to play, but the official playmat will unlock a new level of stylishness at your table!</p>

<p>Thank you for playing <em>Robot Hospital</em>, and remember: it’s your sworn duty to repair those bots!</p>

<a href="http://discord.stillfleet.com/" class="external discord dark">Join us on Discord</a>

</br>
<img src="/assets/img/RH_playmat.jpg" alt="Playmat" />

<h3>Bonus lore about the game</h3>

<h4>Patient health record 1583-7599</h4>
<ul><li><strong>Name: Basil Robobutler</strong></li>
<li>Birthdate: ~10^8 years before present</li>
<li>Birth place: New Singapore Two</li>
<li>Emergency contact: Refactor Jaars Murvail, Afdeling of the Fleet (employer)</li>
<li>Primary care Archivist: To be appointed [that’s you!]</li>
<li>Attending physician: Yhxxvyzzstaar-154! (“Doc Hixx”), Senior Draadchirurgeon and Attaché, Bureau of Code-Formatted Sapient Healthcare</li>
<li>Last recorded directive: “The voidee that Maamsir ordered for later this evening <em>did</em> involve a rather persnickety ‘flaming multi-saw’ technique, yes… If it’s possible, could you possibly patch us up so that we can finish it?”</li>
<li>Diagnosis: Trisected (baking accident/workplace injury)</li></ul>

<h4>Patient health record 3413-7596</h4>
<ul><li><strong>Name: Ancho Battlebot</strong></li>
<li>Birthdate: 6,666 years before present</li>
<li>Birth place: KALKATH, second city of the Late Tephnian Hegemony</li>
<li>Emergency contact: Shriek of Laughter, stillrijder (listed as sister; given that Shriek is a humanoid bear-shrew and not a robot, the Archive considers this a metaphor)</li>
<li>Primary care Archivist: To be appointed [that’s you!]</li>
<li>Attending physician: Senior Archivist Zedverm Zaaravest (MIA)</li>
<li>Last recorded directive: “DRAGONS OF THE PRIME / TEAR EACH OTHER IN THE SLIME” (Archivist Zaaravest notes: “This does not appear to be not an actionable medical directive; patient likely sustained temporary injury to its language processor”)</li>
<li>Diagnosis: Trisected (gladiatorial outcome/workplace injury)</li></ul>

<h4>Patient health record 8671-7595</h4>
<ul><li><strong>Name: Juniper Wirewraith</strong></li>
<li>Birthdate: ~5,000 years before present</li>
<li>Birth place: Unknown (secret Very Late Tephnian skunkworks, thought to be located in the Kuiper Belt)</li>
<li>Emergency contact: Many Oakroot Duster (Senior Archivist Vaz notes that M.O.D. is a low-level runner for the Wetan Mafia)</li>
<li>Primary care Archivist: To be appointed [that’s you!]</li>
<li>Attending physician: Senior Archivist Vaz, Chief of the Bureau of the Code</li>
<li>Last recorded directive: “The Obfuscatory Magnox Lozenge expresses gratitude for your inept but partially effective repairs. Now please direct us to the nearest shardcaster entrypoint…” (repeated trillions of times)</li>
<li>Diagnosis: Decomposed into three-ish clumps of nanite-wires on the recent order of Senior Archivist Vaz; this order has just been reversed</li></ul>

<h3>If you enjoy <em>Robot Hospital</em>, check out <em>Stillfleet</em></h3>
<ul class="rowlist">
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/quickstart/purchase" text="Stillfleet Quickstart Rules" class="dark" %}
  </li>
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/stillfleet-core-rulebook/purchase" text="Stillfleet Core Rulebook" class="dark" %}
  </li>
  <li>
    <a href="https://strings.stillfleet.com/voidminers/recruitr" class="external dark stillfleet">Generate a character with STRINGS</a>
  </li>
</ul>

</br>
<img src="/assets/img/RBH_004_cropped.jpg" alt="Cards" />
