---
layout: page
brand: stillfleet
title: Bonus Robot Hospital content!
---

<h2>Get a free Robot Hospital playmat!</h2>

<h3>Stack your bots in style</h3>

<p>If you are attending a live Stillfleet Studio event, just show this page to a Studio member to receive a free Robot Hospital playmat, <em>while supplies last</em>.</p>

<p>This full-color playmat—designed by the game’s creator, Aaron H., and our lead graphic designer, Sunaree Paiwong—helps you dive into the game by showing you where to place each stack of cards. You don’t need it to play, but the official playmat will unlock a new level of stylishness at your table!</p>

<p>If you are not attending a live Stillfleet Studio event, you can still receive a free Robot Hospital playmat by purchasing any product from our shop and entering the code SHOWMETHEMAT. (While supplies last.)</p>

<p>Thank you for playing Robot Hospital, and remember: it’s your sworn duty to repair those bots!</p>

<a href="http://discord.stillfleet.com/" class="external discord dark">Join us on Discord</a>

<h3>If you enjoy Robot Hospital, check out Stillfleet</h3>
<ul class="rowlist">
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/quickstart/purchase" text="Stillfleet Quickstart Rules" class="dark" %}
  </li>
  <li>
    {% include components/purchase.html url="https://stillfleet.itch.io/stillfleet-core-rulebook/purchase" text="Stillfleet Core Rulebook" class="dark" %}
  </li>
  <li>
    <a href="https://strings.stillfleet.com/voidminers/recruitr" class="external dark stillfleet">Generate a character with STRINGS</a>
  </li>
</ul>
