---
layout: default
brand: studio
credits:
---

<article id="product">
  {% if page.heading %}
    {% assign heading_text = page.heading %}
  {% else %}
    {% assign heading_text = page.title %}
  {% endif %}

  {% if page.heading_image %}
    <h1 style="background: url('{{ page.heading_image }}') no-repeat; background-size: contain; background-position: center; height: 300px; text-indent: -9999em;">
      {{ heading_text }}
    </h1>
  {% else %}
    <h1>{{ heading_text }}</h1>
  {% endif %}

  

  {% include components/product.html src=page.cover alt=page.title %}

  {{ content }}

</article>

{% assign product_line = site.pages | where: "layout", page.layout %}

{% if product_line %}
  {% include components/internal_nav.html current=page all=product_line %}
{% endif %}

{% if page.credits %}
  {% include components/credits.html title=page.title version=page.version copyright=page.copyright citations=page.credits %}
{% endif %}