// Media query for mobile first layout
@mixin small-breakpoint {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

// Break on tablet
@mixin medium-breakpoint {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

// Break on desktop
@mixin large-breakpoint {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// Break on full-screen desktop
@mixin xlarge-breakpoint {
  @media (min-width: #{$desktop-full}) {
    @content;
  }
}

@mixin social-icons {
  & {
    background-position: 0.5rem;
    background-size: 2rem;
    padding-left: 3rem;
    background-repeat: no-repeat;
  }
  &.apple-podcasts {
    background-image: url('/assets/img/third-party/apple-podcasts.png');
  }
  &.default {
    background-image: url('/assets/img/third-party/default.png');
    &.dark {
      background-image: url('/assets/img/third-party/default-dark.png');
    }
  }
  &.discord {
    background-image: url('/assets/img/third-party/discord.png');
    &.dark {
      background-image: url('/assets/img/third-party/discord-dark.png');
    }
  }
  &.drivethrurpg {
    background-image: url('/assets/img/third-party/drivethrurpg.png');
  }
  &.itchio {
    background-image: url('/assets/img/third-party/itchio.png');
    &.dark {
      background-image: url('/assets/img/third-party/itchio-dark.png');
    }
  }
  &.kickstarter {
    background-image: url('/assets/img/third-party/kickstarter.png');
  }
  &.patreon {
    background-image: url('/assets/img/third-party/patreon.png');
    &.dark {
      background-image: url('/assets/img/third-party/patreon-dark.png');
    }
  }
  &.floatcity {
    background-image: url('/assets/img/third-party/float-city.png');
  }
  &.simplecast {
    background-image: url('/assets/img/third-party/simplecast.png');
    &.dark {
      background-image: url('/assets/img/third-party/simplecast-dark.png');
    }
  }
  &.spotify {
    background-image: url('/assets/img/third-party/spotify.png');
  }
  &.stillfleet {
    background-image: url('/assets/img/third-party/stillfleet.png');
    &.dark {
      background-image: url('/assets/img/third-party/stillfleet-dark.png');
    }
  }
  &.twitch {
    background-image: url('/assets/img/third-party/twitch.png');
  }
  &.youtube {
    background-image: url('/assets/img/third-party/youtube.png');
  }
}

@mixin emoji {
  &.🐢 {
    @supports selector(::marker) {
      &::marker {
        content: '🐢';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🐢';
      }
    }
  }
  &.🐓 {
    @supports selector(::marker) {
      &::marker {
        content: '🐓';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🐓';
      }
    }
  }
  &.🦀 {
    @supports selector(::marker) {
      &::marker {
        content: '🦀';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🦀';
      }
    }
  }
  &.🦨 {
    @supports selector(::marker) {
      &::marker {
        content: '🦨';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🦨';
      }
    }
  }
  &.🐞 {
    @supports selector(::marker) {
      &::marker {
        content: '🐞';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🐞';
      }
    }
  }
  &.🐴 {
    @supports selector(::marker) {
      &::marker {
        content: '🐴';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🐴';
      }
    }
  }
  &.🐷 {
    @supports selector(::marker) {
      &::marker {
        content: '🐷';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🐷';
      }
    }
  }
  &.🐼 {
    @supports selector(::marker) {
      &::marker {
        content: '🐼';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🐼';
      }
    }
  }
  &.🐸 {
    @supports selector(::marker) {
      &::marker {
        content: '🐸';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🐸';
      }
    }
  }
  &.🐯 {
    @supports selector(::marker) {
      &::marker {
        content: '🐯';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🐯';
      }
    }
  }
  &.🤖 {
    @supports selector(::marker) {
      &::marker {
        content: '🤖';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🤖';
      }
    }
  }
  &.⏱️ {
    @supports selector(::marker) {
      &::marker {
        content: '⏱️';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '⏱️';
      }
    }
  }
  &.🤼 {
    @supports selector(::marker) {
      &::marker {
        content: '🤼';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🤼';
      }
    }
  }
  &.🧑‍🧒 {
    @supports selector(::marker) {
      &::marker {
        content: '🧑‍🧒';
      }
    }
    @supports not selector(::marker) {
      &::before {
        content: '🧑‍🧒';
      }
    }
  }
}